{{{or options.examples.doctypeTag "<!doctype html>"}}}
{{{or options.examples.htmlTag "<html>"}}}

	<head>
        <script>
            var stylemarkConf = {{{json options}}};
            var exampleName = "{{ example.name }}";
            var docSlug = "{{doc.slug}}";
        </script>
		<style>
			{{#each example.blocks}}
				{{#if (compare language "==" "css")}}
					{{{content}}}
				{{/if}}
			{{/each}}
		</style>

		<style>
			html, body {
				min-height: 0 !important;
				height: auto !important;
			}
		</style>
        <script src="_stylemark/js/stylemark/findAndHandleStylemarkBlocks/findAndHandleStylemarkBlocks.js"></script>

		{{#each options.examples.css}}
			<link rel="stylesheet" href="{{this}}">
		{{/each}}
		{{#each options.examples.js}}
			<script src="{{this}}"></script>
		{{/each}}

		{{{options.examples.headHtml}}}
	</head>

	{{{or options.examples.bodyTag "<body>"}}}

		{{~#each example.blocks}}
			{{~#if (compare language "==" "html")}}
				{{~#if ../options.examples.bodyHtml}}
					{{{compile (replace ../options.examples.bodyHtml "{html}" "{{{content}}}") content}}}
				{{else}}
					{{{content}}}
				{{/if~}}
			{{/if~}}
			{{~#if (compare language "==" "angularjs")}}
				<main ng-controller="stylemark-{{doc.slug}}-{{example.name}}"></main>
			{{/if~}}
			{{~#if (compare language "==" "jsx")}}
				<main class="stylemark-react-root"></main>
			{{/if~}}
			{{~#if (or (compare language "==" "handlebars") (compare language "==" "hbs"))}}
				<main class="stylemark-ember-root"></main>
			{{/if~}}
		{{/each~}}

		{{#each example.blocks}}
			<script type="text/x-stylemark" data-language="{{language}}">{{{content}}}</script>
		{{/each}}

        <script src="_stylemark/js/stylemark/findAndHandleStylemarkBlocks/vanillajs.js"></script>
        
        {{#if (or (compare options.angularjs "===" undefined) (compare options.angularjs "===" true)) }}
		<script src="_stylemark/js/stylemark/findAndHandleStylemarkBlocks/angularjs.js"></script>
        {{/if~}}
        
        {{#if (or (compare options.react "===" undefined) (compare options.react "===" true)) }}
		<script src="_stylemark/js/stylemark/findAndHandleStylemarkBlocks/react.js"></script>
        {{/if~}}
        
        {{#if (or (compare options.ember "===" undefined) (compare options.ember "===" true)) }}
		<script src="_stylemark/js/stylemark/findAndHandleStylemarkBlocks/ember.js"></script>
        {{/if~}}
		<script src="_stylemark/js/vendor/iframeResizer.contentWindow.min.js"></script>
	</body>
</html>
